
 <body>
 {% load static %}

		<link rel="stylesheet" type="text/css" href="{% static 'loginmodule/style.css' %}" >
		<form action='/registration/adduser/' method='post' >{% csrf_token %}
        <table border="0" width="1200" height="800" align="center">
                <tr>
                    <th align='center'><h1>Enter Your Info</h1></th>
                </tr>
				<tr>
                    <td align=''><h2>NAME :&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="text" name="name" style="width: 500px;height: 30px" required /></h2>(you have to use your name as username)</td>
				</tr>
				<tr>
                    <td align=''><h2>Phone Number :&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="text"  pattern="[6789][0-9]{9}" name="mo.no." style="width: 250px;height: 30px" required/></h2></td>
				</tr>
				<tr>
                    <td align=''><h2>Email ID :&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="text" name="email" style="width: 250px;height: 30px" required/></h2></td>
				</tr>
				<tr>
                    <td align=''><h2>Password :&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="password" name="password" style="width: 250px;height: 30px" required /></h2></td>
				</tr>
				<tr>
                    <th align='center'><h1><input type='submit' value='SIGNUP' style="align-content: center;width: 200px;height: 35px"/></h1></th>
                </tr>
		</table>
		
		</form>
</body>
