{%extends "base1.html" %}
{% block content %}
<body>
    <table border="1" width="1300" height="500" align="center">
        <thead>
            <tr height='50'>
				<form  action='/onlineshoppingapp/index1' method='post'>{% csrf_token %}
				<td><input type="submit" value="FASHION FOR MEN" name="cat" style="width: 100%;height: 100%;font-size: larger;color:black;background-color:lightgreen" /></td>
				<td><input type="submit" value="FASHION FOR WOMEN" name="cat" style="width: 100%;height: 100%;font-size: larger;color:black;background-color:lightgreen" /></td>
				<td><input type="submit" value="ELECTRONICS" name="cat" style="width: 100%;height: 100%;font-size: larger;color:black;background-color:lightgreen" /></td>
				<td><input type="submit" value="MOBILES" name="cat" style="width: 100%;height: 100%;font-size: larger;color:black;background-color:lightgreen" /></td>
				<td><input type="submit" value="COMPUTERS & ACCESSORIES" name="cat" style="width: 100%;height: 100%;font-size: larger;color:black;background-color:lightgreen" /></td>
				
				<td><input type="submit" value="TVs & APPLIANCES" name="cat" style="width: 100%;height: 100%;font-size: larger;color:black;background-color:lightgreen" /></td>
				</form>
			</tr>
		</thead>
	</table>
	<table border="1" width="1300" height="500" align="center">
		
		<tr>
			{% for product in product1%}
			<td align="center"><img src={{product.url}} width="150" height="150" /><br>
            <font align="center" size="5">Rs.{{product.price}}</font>
			<form action="select" method='post'>{% csrf_token %}
			<input type="hidden" value={{product.productid}} name="productid">
            <input type="submit" value="VIEW" style="width: 100px"/></form><br>	
			</td>
			{% if forloop.counter|divisibleby:4%}
			</tr>
			<tr>
			{%endif%}
			{% endfor %}
		</tr>
		
	</table>
</body>

{% endblock %}