{%extends "base1.html" %}
{% block content %}
{% for product in product1%}
    <body>
	
        <table border="0" width="1200" height="800" align="center">
            <thead>
                <tr>
                    <th colspan="5"><h1>Product details</h1></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2" rowspan="10" align="center"><img src={{product.url}} width="500" height="500"/>
                    </td>
					<td colspan='3' align='center'><font size="15">{{product.pname}}</td>
                </tr>
                <tr>
                    <td align="center"><font size="15">PRICE</td>
                    <td colspan="2" align="center"><font size="15">Rs.{{product.price}}</td>
                </tr>
                <tr>
                    <td  colspan="3" align="center"><font size="15">In stoke</td>
                </tr>
                <tr>
                    <td colspan="3" align="center"><p><font size="5">Deliver to your address within 7-10 days.</p></td> 
                </tr>
                <tr>
                    <td colspan="3" align="center"><p><font size="5">10% cashback on debit card or credit card.</p></td>
                </tr>
                <tr>
                    <td colspan="3" align="center"><p><font size="5">Brand Warrenty of 1 year.</p></td>
                </tr>
                <tr>
                    <td colspan="3" align="center"><p><font size="5">10 Days of replacement policy.</p></td>
                </tr>
                <tr>
                    <td colspan="3" align="center"><input type="submit" value="MORE DETAILS" style="width: 500px;height: 30px"/></td>
                </tr>
                <tr>
                    <td colspan="3" align="center"><form action="/cartdb/addtocart" method='post'>{% csrf_token %}
					<input type="hidden" value={{product.productid}} name="productid">
					<input type="submit" value="ADD TO CART" name="add to card" onclick="alert('Item is added to cart')" style="width: 500px;height: 30px"/></td></form>
                </tr>
                <tr>
                    <td colspan="3" align="center">
					<form action="/cartdb/addtocart" method='post'>{% csrf_token %}
					<input type="hidden" value={{product.productid}} name="productid">
					<input type="submit" value="BUY NOW" name="buy now" style="width: 500px;height: 30px"/></form></td>
                </tr>
            </tbody>
        </table>

    </body>
</html>
{% endfor %}
{% endblock %}