{%extends "base1.html" %}
{% block content %}
<body>
	{% if cart1 %}
	{% for cart in cart1 %}
	{% for product in product1 %}
	{% ifequal cart.productid product.productid%}
		<h1 align="center"></h1>
		<table border="1" width="1200" height="50" align="center">
		<tr>
			<td colspan='2' align='center'>
			
			<img src={{product.url}} width="150" height="150" /></td>
			<td><h2 align='center'>{{product.pname}}</h2></td>
			<td><h2 align='center'>Price is:  {{product.price}}</h2></td>
			<td><h2 align='center'>Delivery on<br>{{ddate }} </h2></td>
		</tr>
		</table>
	{% endifequal %}
	{% endfor %}
	{% endfor %}
		<h1 align='center'>Total Price Is: {{tprice}}</h1>
		<h1 align='center'>Select Payment Method</h1>
		<h1 align='center'>
		<input type="radio" name="payment" value="CASH ON DELIVERY" checked="checked" style="height: 17px;width: 17px"/><font size="5">CASH ON DELIVERY
                            
                           
							
		<form action='/orderdb/ordersuccess/' method='post'>{% csrf_token %}
		<h1 align='center'><input type="submit" value="PLACE ORDER" style="align-content: center;width: 200px;height: 35px"/></h1>
		</form>
	{% endif %}
</body>
{% endblock %}